<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>

<body>
    <%- include('partials/nav.ejs') %>


        <div  class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo eaque, quibusdam eius, perspiciatis et aliquam quam sed blanditiis esse quis sequi unde inventore voluptatibus, harum itaque assumenda totam. Amet, id?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, dolor. Alias itaque maxime exercitationem est animi sint ullam quaerat quidem non, neque ea omnis dolor nobis sed. Tempora, debitis id!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, debitis ad. Delectus animi perspiciatis nemo tenetur repudiandae sint aspernatur! Sequi in aliquam veniam, ducimus consectetur sapiente quae! Tenetur, molestiae eveniet!</p>
        </div>
        <%- include('partials/footer.ejs') %>

</body>
</html>